﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CssControl.ascx.cs" Inherits="GTICLOUD.CssControl" %>

<link href="access/css/materialize.min.css" rel="stylesheet" />
<link href="access/css/style.css" rel="stylesheet" />
<link href="access/fonts/icon.css" rel="stylesheet" />
