﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="GTICLOUD.Error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Something went Wrong....</h1>
        <p>Please Login again. click <a href="Default.aspx">here</a></p>
    </div>
    </form>
</body>
</html>
