﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Fixed_side_nav.ascx.cs" Inherits="GTICLOUD.Fixed_side_nav" %>


  <!--<ul id="sidenav-left" class="sidenav sidenav-fixed">
    <li>
        <div>
            <h5 class="center-align theme-color">GTI CLOUD <i class="material-icons">cloud</i></h5>
        </div>
    </li>

      <asp:Label ID="dynamic_list" runat="server" Text=""></asp:Label>
  </ul>
  <a href="#" data-target="sidenav-left" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->

