﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="JsScriptControl.ascx.cs" Inherits="GTICLOUD.JsScriptControl" %>

<script src="access/js/jquery.js"></script>
<script src="access/js/materialize.min.js"></script>
<script src="access/js/script.js"></script>
